@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
    --text: #3D293D;
    --first-color: #52877C;
    --second-color: #705977;
}

html {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 62.5%;
} *, *::after, *::before {
    box-sizing: inherit;
}

body {
    background: rgb(82,135,124);
    background: linear-gradient(180deg, rgba(82,135,124,1) 0%, rgba(82,135,124,1) 40%, rgba(112,89,119,1) 60%);
    color: var(--text);
    font-size: 1.6rem;
    min-height: 100vh;
    overflow: hidden;
}

/* CONTAINER */
.container {
    display: flex;
    margin: 0 auto;
    width: 120rem;
}

/* HEADER */
header {
    padding: 2rem;
}
header h1 {
    font-size: 7rem;
    text-align: center;
    text-shadow: 4px 3px 5px #FFF;
}

/* NOMBRES */
#names {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 30%;
}
#names div {
    background: var(--second-color);
    /* border: 2px solid var(--first-color); */
    box-shadow: 3px 3px 15px var(--first-color);
    border-radius: 2rem;
    color: #FFF;
    cursor: pointer;
    font-size: 3rem;
    text-align: center;
    transition: all .5s ease;
    padding: 1.5rem 1rem;
}
#names div:hover {
    background-color: var(--text);
}

/* DATOS */
#data {
    padding: 1rem;
    width: 70%;
}
#data nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
#data nav a {
    background: var(--second-color);
    border-radius: 1rem;
    color: #FFF;
    font-size: 2.5rem;
    text-decoration: none;
    padding: 1rem 2.5rem;
}

#data .views {
    background: var(--text);
    border-radius: 1.5rem;
    color: #FFF;
    opacity: 0.6;
    padding: 2rem;
}